<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Psi Admin{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/psiadmin/admin.css') }}" />
    </head>
    <body>
        <div class="ui inverted menu">
        </div>

        <div class="main">
            {% block main %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('@PsiAdmin/admin.js') }}"></script>
        {% endblock %}
    </body>
</html>

